@import 'hawk-variables';

@import 'hawk-mixins';


* {
margin: 0;
padding: 0;
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent;
}
*:focus {
outline: none;
}

.hidden {
opacity: 0;
}
.visible {
opacity: 1;
}

html {
font-family: $sans-serif-font-family;
font-weight: 400;
font-size: $main-font-size;
color: $dark-color;
}

a {
color: $dark-color;
text-decoration: none;
@include transition(all .2s linear);

	img {
	border: 0;
	}
}

img {
display: inline-block;
max-width: 100%;
}

/***** LISTS *****/

ul {
list-style-type: none;
}

/***** CONTAINERS *****/

.wrapper {
display: table;
width: 100%;
height: 100%;

	> div {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	}
}

.container {
padding: 0;
position: relative;

	&:after {
	content: '';
	display: block;
	clear: both;
	}

	.column {
	float: left;
	@include box-sizing(border-box);
	}
	.col-9 {
	width: 3/4 * 100%;
	}
	.col-8 {
	width: 2/3 * 100%;
	}
	.col-6 {
	width: 1/2 * 100%;
	}
	.col-4 {
	width: 1/3 * 100%;
	}
	.col-3 {
	width: 1/4 * 100%;
	}
	.col-2 {
	width: 1/6 * 100%;
	}

	.middle {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	margin: 0 0 0 -25%;
	}
}
.container--reverse {
	.column {
	float: right;
	}
}
.container--same-height-columns {
position: relative;

	.column {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	}
	.column--highest {
	position: static;
	}
}

.video {
display: block;
position: relative;
padding-bottom: 56.75%;
height: 0;
margin: 0 auto;

	iframe,
	video {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	}
}


/***** MODULES *****/

.bookmarks-manager {
margin: 0 auto;
padding: 40px 20px;
background: rgba(0, 0, 0, .2);

	@media (min-width: $rwd-420) {
	padding: 40px 30px;
	}

	@media (min-width: $rwd-550) {
	padding: 50px 40px;
	}

	@media (min-width: $rwd-768) {
	background: rgba(0, 0, 0, .07);
	padding: 60px 30px;
	}

	@media (min-width: $rwd-992) {
	padding: 80px 40px;
	}

	@media (min-width: $rwd-1700) {
	padding: 120px 60px 170px 60px;
	}

	.bookmarks-manager__bookmarks {
	text-align: center;

		@media (min-width: $rwd-768) {
		padding: 80px 0 0 0;
		min-height: 60px;
		}

		@media (min-width: $rwd-1700) {
		padding-top: 150px;
		}

		&:after {
			@media (min-width: $rwd-768) {
			content: '';
			display: inline-block;
			height: 60px;
			width: 1px;
			vertical-align: middle;
			}
		}
	}

	.bookmarks-manager__bookmark-container,
	.bookmarks-manager__bookmark-separator {
	display: block;
	position: relative;
	padding: 5px 0 0 0;

		@media (min-width: $rwd-768) {
		display: inline-block;
		padding: 0 0 0 5px;
		margin: 0 0 0 -5px;
		vertical-align: middle;
		}

		&:first-child {
		padding: 0;
		}

		.bookmarks-manager__bookmark-content {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		padding: 0 0 0 60px;
		@include box-sizing(border-box);
		color: $light-color;
		text-align: justify;

			.subsection-title {
			text-align: left;

				.subsection-title__decoration {
					.decoration {
					text-align: left;
					}

				}
			}
		}

		.bookmarks-manager__bookmark-content--bottom {
		top: auto;
		bottom: 0;
		}
	}

	.bookmarks-manager__bookmark-container {
		&:nth-last-of-type(1),
		&:nth-last-of-type(2) {

		}
	}

	.bookmarks-manager__bookmark {
	cursor: pointer;
	position: relative;
	z-index: 10;

		@media (min-width: $rwd-1300) {

		}
	}

	.bookmarks-manager__bookmark.active {
		.circle-bookmark {
		background: rgba(255, 255, 255, 0);
		height: 54px;
		width: 54px;
		@include triple-transition(width .3s linear, height .3s linear, background .1s linear);

			.circle-bookmark__inner {
			opacity: 1;
			left: -16px;

				@media (min-width: $rwd-768) {
				left: 0;
				}
			}

			&:hover {
			background: none !important;
			}
		}
	}

	.bookmarks-manager__content-container {
	display: none;
	@include transition(all .2s linear);

		@media (min-width: $rwd-768) {
		display: block;
		max-width: 1100px;
		margin: 0 auto;

		}
	}

	.bookmarks-manager__content-wrapper {
	@include transition(all .2s linear);

		@media (min-width: $rwd-768) {
		width: 40%;
		@include background-gradient-down(rgba(255, 255, 255, .4) 10%, rgba(255, 255, 255, .1) 80%, rgba(255, 255, 255, .1) 80%);
		}
	}

	.bookmarks-manager__content {
		@media (min-width: $rwd-768) {
		padding: 30px 30px 60px 30px;
		}
	}
}

.circle-bookmark {
position: relative;
@include triple-transition(width .3s linear, height .3s linear, background .1s linear);

	&__inner {
	opacity: 0;
	background: url('../img/axis-item-active.svg') no-repeat top left;
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include transition(all .3s linear);
	}

	&:hover {
	@include triple-transition(width .3s linear, height .3s linear, background .4s linear);
	background: $medium-color-01 !important;
	}
}

.simple-bookmark {
font-weight: 700;

	.simple-bookmark__number {
	font-size: $large-font-size;
	font-weight: 700;
	padding: 0 0 5px 0;
	}
}

.simple-bookmark.active {
color: $medium-color-01;
}

.dropdown {
position: relative;
display: block;
max-width: 300px;

	.dropdown__header {
	padding: 10px 50px 10px 15px;
	border: 1px solid $grey;
	position: relative;
	cursor: pointer;

		.icon {
		position: absolute;
		top: 50%;
		right: 16px;
		margin: -4px 0 0 0;
		@include animation-name(arrowTurnDown);
		@include animation-duration(.2s);
		}
	}

	.dropdown__title {
	font-weight: 400;
	letter-spacing: 1px;
	font-size: $small-font-size;
	}

	.dropdown__list {
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 100%;
	font-size: $small-font-size;
	padding: 15px 10px;
	background: $light-color-04;
	border: 1px solid $light-color-03;
	@include box-sizing(border-box);
	z-index: 10;

		> li {
		display: block;
		padding: 5px 0;
		}
		a {
		display: block;
		}
	}
}
.dropdown.dropdown--open {
	.dropdown__header {
		.icon {
		@include animation-name(arrowTurnUp);
		@include transform(rotate(180deg));
		}
	}
}

.details-list {
list-style-type: none;
max-width: 1000px;
margin: 0 auto;

	&__item {
	display: block;
	}

	.details-list__title {
	position: relative;
	padding: 10px 0 10px 5px;
	cursor: pointer;
	font-weight: 700;
	color: $dark-color-02;
	border-bottom: 1px solid $dark-color-02;

		@media (min-width: $rwd-768) {
		font-size: $main-font-size-01;
		line-height: $main-font-size-01 + 8px;
		}

		@media (min-width: $rwd-1300) {
		font-size: $main-font-size-03;
		line-height: $main-font-size-03 + 8px;
		}

		.details-list__arrow {
		position: absolute;
		top: 14px;
		right: 10px;

			@media (min-width: $rwd-1300) {
			top: 16px;
			}
		}
	}

	&__number {
	color: $medium-color;
	}

	&__content {
	padding: 10px 20px;
	font-size: $main-font-size;
	line-height: $main-font-size + 8px;
	font-weight: 500;

		@media (min-width: $rwd-1300) {
		font-size: $main-font-size-01;
		line-height: $main-font-size-01 + 8px;
		}
	}
}

.categorized-items {
	&__categories {
	text-align: center;
	list-style-type: none;
	padding: 0 0 40px 0;

		> li {
		display: inline-block;
		padding: 0 20px;
		cursor: pointer;
		}
	}

	&__item {
	display: block;
	}

	&__no-items {
	float: none;
	display: block;
	padding: 20px;
	text-align: center;
	}

	&__content-container {
	@include transition(all .2s linear);
	}
}

/***** MENU *****/

.slide-menu {
position: fixed;
z-index: 8000;
height: 100%;
display: block;
text-align: center;
width: 100%;
background: $light-color-01;
overflow-x: hidden;
overflow-y: auto;

	.slide-menu__inner {
	padding: 30px 60px;

		@media (min-width: $rwd-650) {
		padding: 70px 60px;
		}
	}
}

/** fade **/
.slide-menu--fade {
display: none;
}
.slide-menu--fade.slide-menu--open {

}
.slide-menu--fade.slide-menu--top {
top: 0;
left: 0;
right: auto;
bottom: auto;
}
.slide-menu--fade.slide-menu--right {
top: 0;
left: auto;
right: 0;
bottom: auto;
}
.slide-menu--fade.slide-menu--bottom {
top: auto;
left: 0;
right: auto;
bottom: 0;
}
.slide-menu--fade.slide-menu--left {
top: 0;
left: 0;
right: auto;
bottom: auto;
}

/** slide **/
.slide-menu--slide {
display: block;
opacity: 1;
@include transition(all .3s linear);
}

.slide-menu--slide.slide-menu--top {
top: -100%;
left: 0;
right: auto;
bottom: auto;
}
.slide-menu--slide.slide-menu--top.slide-menu--open {
top: 0;

	@media (min-width: $rwd-1100) {
	top: -100%;
	}
}

.slide-menu--slide.slide-menu--right {
top: 0;
left: auto;
right: -100%;
bottom: auto;
}
.slide-menu--slide.slide-menu--right.slide-menu--open {
right: 0;
}

.slide-menu--slide.slide-menu--bottom {
top: auto;
left: 0;
right: auto;
bottom: -100%;
}
.slide-menu--slide.slide-menu--bottom.slide-menu--open {
bottom: 0;
}

.slide-menu--slide.slide-menu--left {
top: 0;
left: -100%;
right: auto;
bottom: auto;
}
.slide-menu--slide.slide-menu--left.slide-menu--open {
left: 0;
}

/** slide-fade **/
.slide-menu--slide-fade {
display: block;
opacity: 1;
@include transition(all .3s linear .4s);

	.slide-menu__inner {
	opacity: 0;
	@include transition(opacity .3s linear);
	}
}

.slide-menu--slide-fade.slide-menu--open {
@include transition(all .3s linear);

	.slide-menu__inner {
	opacity: 1;
	@include transition(opacity .3s linear .4s);
	}
}

.slide-menu--slide-fade.slide-menu--top {
top: -100%;
left: 0;
right: auto;
bottom: auto;
}
.slide-menu--slide-fade.slide-menu--top.slide-menu--open {
top: 0;
}

.slide-menu--slide-fade.slide-menu--right {
top: 0;
left: auto;
right: -100%;
bottom: auto;
}
.slide-menu--slide-fade.slide-menu--right.slide-menu--open {
right: 0;
}

.slide-menu--slide-fade.slide-menu--bottom {
top: auto;
left: 0;
right: auto;
bottom: -100%;
}
.slide-menu--slide-fade.slide-menu--bottom.slide-menu--open {
bottom: 0;
}

.slide-menu--slide-fade.slide-menu--left {
top: 0;
left: -100%;
right: auto;
bottom: auto;

	@media (min-width: $rwd-992) {
	width: 360px;
	left: -362px;
	border-right: 2px solid $light-color-02;
	}
}
.slide-menu--slide-fade.slide-menu--left.slide-menu--open {
left: 0;
}

/***** ICONS *****/

/* icon hamburger */

.icon-hamburger {
display: block;
width: 28px;
height: 18px;
position: relative;
overflow: hidden;

	> div {
	position: absolute;
	left: 0;
	height: 2px;
	background: $dark-color;
	width: 100%;
	@include border-radius(2px);
	@include transition(all .2s ease-in-out);
	}
	> div:nth-child(1),
	> div:nth-child(4) {
	top: 0;
	}
	> div:nth-child(2),
	> div:nth-child(5) {
	top: 8px;
	}
	> div:nth-child(3),
	> div:nth-child(6) {
	top: 16px;
	}

	> .icon-hamburger__hover-item {
	left: -100%;
	@include transition(all .2s ease-out);
	z-index: 4;
	}

	> .icon-hamburger__hover-item:nth-child(4) {
	@include transition-delay(.2s);
	}

	> .icon-hamburger__hover-item:nth-child(5) {
	@include transition-delay(.1s);
	}

	> .icon-hamburger__hover-item:nth-child(6) {
	@include transition-delay(0s);
	}



	&:hover {
		> .icon-hamburger__hover-item:nth-child(4) {
		@include transition-delay(0);
		}

		> .icon-hamburger__hover-item:nth-child(5) {
		@include transition-delay(.1s);
		}

		> .icon-hamburger__hover-item:nth-child(6) {
		@include transition-delay(.2s);
		}

		> .icon-hamburger__hover-item {
		left: 0;
		}
	}
}

.icon-hamburger.open {
	> div:nth-child(1),
	> div:nth-child(4) {
	top: 7px;
	@include transform(rotate(135deg));
	}

	> div:nth-child(2),
	> div:nth-child(5) {
	opacity: 0;
	left: -100%;
	}

	> div:nth-child(3),
	> div:nth-child(6) {
	top: 7px;
	@include transform(rotate(-135deg));
	}
}

.icon-hamburger--medium {
	> div {
	background: $medium-color;
	}
}
.icon-hamburger--light {
	> div {
	background: $light-color;
	}
}
.icon-hamburger--large {
width: 32px;
height: 20px;

	> div {
	height: 4px;
	@include border-radius(2px);
	}
	> div:nth-child(1) {
	top: 0;
	}
	> div:nth-child(2) {
	top: 8px;
	}
	> div:nth-child(3) {
	top: 16px;
	}
}
.icon-hamburger--small {
width: 20px;
height: 12px;

	> div {
	height: 2px;
	@include border-radius(1px);
	}
	> div:nth-child(1) {
	top: 0;
	}
	> div:nth-child(2) {
	top: 5px;
	}
	> div:nth-child(3) {
	top: 10px;
	}
}

/* icon cross */

.icon-cross {
width: 21px;
height: 21px;
position: relative;
overflow: hidden;

	> div {
	position: absolute;
	background: $dark-color;
	display: block;
	}

	> div:nth-child(1) {
	width: 100%;
	left: 0;
	top: 50%;
	height: 3px;
	margin: -1.5px 0 0 0;
	}
	> div:nth-child(2) {
	width: 3px;
	top: 0;
	left: 50%;
	margin: 0 0 0 -1.5px;
	height: 100%;
	}
}
.icon-cross--large {
width: 26px;
height: 26px;

	> div:nth-child(1) {
	height: 4px;
	margin: -2px 0 0 0;
	}
	> div:nth-child(2) {
	width: 4px;
	margin: 0 0 0 -2px;
	}
}
.icon-cross--small {
width: 18px;
height: 18px;

	> div:nth-child(1) {
	height: 2px;
	margin: -1px 0 0 0;
	}
	> div:nth-child(2) {
	width: 2px;
	margin: 0 0 0 -1px;
	}
}

.icon-cross--bold {
	> div:nth-child(1) {
	height: 4px;
	margin: -2px 0 0 0;
	}
	> div:nth-child(2) {
	width: 4px;
	margin: 0 0 0 -2px;
	}
}

.icon-cross--rotated {
@include transform(rotate(45deg));
}

.icon-cross--medium-10 {
	> div {
	background: $medium-color-10;
	}
}

/* icon arrow */

.icon-arrow {
position: relative;
width: 14px;
height: 14px;
border-top: 2px solid $dark-color;
border-right: 2px solid $dark-color;
@include transition(all .2s linear);
}
.icon-arrow--left {
@include transform(rotate(225deg));
left: 3px;
}
.icon-arrow--up {
@include transform(rotate(315deg));
top: 3px;
}
.icon-arrow--right {
@include transform(rotate(45deg));
left: -3px;
}
.icon-arrow--down {
@include transform(rotate(135deg));
top: -3px;
}
.icon-arrow--small {
width: 8px;
height: 8px;
border-width: 2px;

	@media (min-width: $rwd-1300) {
	width: 10px;
	height: 10px;
	}
}
.icon-arrow--left.icon-arrow--small {
left: 2px;
}
.icon-arrow--up.icon-arrow--small {
top: 2px;
}
.icon-arrow--right.icon-arrow--small {
left: -2px;
}
.icon-arrow--down.icon-arrow--small {
top: -2px;
}
.icon-arrow--large {
width: 18px;
height: 18px;
border-width: 3px;
}
.icon-arrow--medium {
border-color: $medium-color;
}
.icon-arrow--dark {
border-color: $dark-color-02;
}

/* icon triangular icon */

.icon-triangular-arrow-left {
border-right: 12px solid $dark-color;
border-top: 7px solid transparent;
border-bottom: 7px solid transparent;
width: 0;
}
.icon-triangular-arrow-left--small {
border-right-width: 10px;
border-top-width: 6px;
border-bottom-width: 6px;
}
.icon-triangular-arrow-left--large {
border-right-width: 14px;
border-top-width: 8px;
border-bottom-width: 8px;
}

.icon-triangular-arrow-up {
border-bottom: 12px solid $dark-color;
border-right: 7px solid transparent;
border-left: 7px solid transparent;
width: 0;
}
.icon-triangular-arrow-up--small {
border-bottom-width: 10px;
border-right-width: 6px;
border-left-width: 6px;
}
.icon-triangular-arrow-up--large {
border-bottom-width: 14px;
border-right-width: 8px;
border-left-width: 8px;
}

.icon-triangular-arrow-right {
border-left: 12px solid $dark-color;
border-top: 7px solid transparent;
border-bottom: 7px solid transparent;
width: 0;
}
.icon-triangular-arrow-right--small {
border-left-width: 10px;
border-top-width: 6px;
border-bottom-width: 6px;
}
.icon-triangular-arrow-right--large {
border-left-width: 14px;
border-top-width: 8px;
border-bottom-width: 8px;

	@media (min-width: $rwd-1500) {
	border-left-width: 18px;
	border-top-width: 11px;
	border-bottom-width: 11px;
	}
}

.icon-triangular-arrow-down {
border-top: 12px solid $dark-color;
border-right: 7px solid transparent;
border-left: 7px solid transparent;
width: 0;
}
.icon-triangular-arrow-down--small {
border-top-width: 8px;
border-right-width: 8px;
border-left-width: 8px;
}
.icon-triangular-arrow-down--large {
border-top-width: 14px;
border-right-width: 8px;
border-left-width: 8px;
}

.icon-triangular-arrow-down--light {
border-top-color: $light-color;
}
